# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [26]:
# Import reduce from functools, numpy and pandas
from functools import reduce
import pandas as pd

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [27]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [28]:
# your code here
[prophet.pop(0) for i in range(568)]

['\ufeffThe',
 'Project',
 'Gutenberg',
 'EBook',
 'of',
 'The',
 'Prophet,',
 'by',
 'Kahlil',
 'Gibran\n\nThis',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'in',
 'the',
 'United',
 'States',
 'and\nmost',
 'other',
 'parts',
 'of',
 'the',
 'world',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'almost',
 'no',
 'restrictions\nwhatsoever.',
 '',
 'You',
 'may',
 'copy',
 'it,',
 'give',
 'it',
 'away',
 'or',
 're-use',
 'it',
 'under',
 'the',
 'terms\nof',
 'the',
 'Project',
 'Gutenberg',
 'License',
 'included',
 'with',
 'this',
 'eBook',
 'or',
 'online',
 'at\nwww.gutenberg.org.',
 '',
 'If',
 'you',
 'are',
 'not',
 'located',
 'in',
 'the',
 'United',
 'States,',
 "you'll\nhave",
 'to',
 'check',
 'the',
 'laws',
 'of',
 'the',
 'country',
 'where',
 'you',
 'are',
 'located',
 'before',
 'using\nthis',
 'ebook.\n\n\n\nTitle:',
 'The',
 'Prophet\n\nAuthor:',
 'Kahlil',
 'Gibran\n\nRelease',
 'Date:',
 'January',
 '1,',
 '2019',
 '[EBook',
 '#58585]\nLast',
 'Updated:',
 'January',
 '3,',
 '2018\n\n\nLanguage:',
 'English\n\nCharacter',
 'set',
 'encoding:',
 'UTF-8\n\n***',
 'START',
 'OF',
 'THIS',
 'PROJECT',
 'GUTENBERG',
 'EBOOK',
 'THE',
 'PROPHET',
 '***\n\n\n\n\nProduced',
 'by',
 'David',
 'Widger',
 'from',
 'page',
 'images',
 'generously\nprovided',
 'by',
 'the',
 'Internet',
 "Archive\n\n\nTranscriber's",
 'Note:',
 'Page',
 'numbers,',
 'ie:',
 '{20},',
 'are',
 'included',
 'in',
 'this\nutf-8',
 'text',
 'file.',
 'For',
 'those',
 'wishing',
 'to',
 'use',
 'a',
 'text',
 'file',
 'unencumbered\nwith',
 'page',
 'numbers',
 'open',
 'or',
 'download',
 'the',
 'Latin-1',
 'file',
 '58585-8.txt.\n\n\n\n\n\n\n\nTHE',
 'PROPHET\n\nBy',
 'Kahlil',
 'Gibran\n\nNew',
 'York:',
 'Alfred',
 'A.',
 'Knopf\n\n1923\n\n_The',
 'Twelve',
 'Illustrations',
 'In',
 'This',
 'Volume\nAre',
 'Reproduced',
 'From',
 'Original',
 'Drawings',
 'By\nThe',
 'Author_\n\n\n“His',
 'power',
 'came',
 'from',
 'some',
 'great',
 'reservoir\nof',
 'spiritual',
 'life',
 'else',
 'it',
 'could',
 'not',
 'have\nbeen',
 'so',
 'universal',
 'and',
 'so',
 'potent,',
 'but',
 'the\nmajesty',
 'and',
 'beauty',
 'of',
 'the',
 'language',
 'with\nwhich',
 'he',
 'clothed',
 'it',
 'were',
 'all',
 'his',
 'own?”\n\n--Claude',
 'Bragdon\n\n\nTHE',
 'BOOKS',
 'OF',
 'KAHLIL',
 'GIBRAN\n\nThe',
 'Madman.',
 '1918',
 'Twenty',
 'Drawings.',
 '1919\nThe',
 'Forerunner.',
 '1920',
 'The',
 'Prophet.',
 '1923\nSand',
 'and',
 'Foam.',
 '1926',
 'Jesus',
 'the',
 'Son',
 'of\nMan.',
 '1928',
 'The',
 'Forth',
 'Gods.',
 '1931',
 'The\nWanderer.',
 '1932',
 'The',
 'Garden',
 'of',
 'the',
 'Prophet\n1933',
 'Prose',
 'Poems.',
 '1934',
 'Nymphs',
 'of',
 'the\nValley.',
 '1948\n\n\n\n\nCONTENTS\n\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'The',
 'Coming',
 'of',
 'the',
 'Ship.......7\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Love.....................15\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Marriage.................19\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Children.................21\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Giving...................23\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Eating',
 'and',
 'Drinking......27\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Work.....................31\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Joy',
 'and',
 'Sorrow...........33\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Houses...................37\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Clothes..................41\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Buying',
 'and',
 'Selling.......43\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Crime',
 'and',
 'Punishment.....45\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Laws.....................51\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Freedom..................55\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Reason',
 'and',
 'Passion.......57\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Pain.....................60\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Self-Knowledge...........62\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Teaching.................64\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Friendship...............66\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Talking..................68\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Time.....................70\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Good',
 'and',
 'Evil............72\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Prayer...................76\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Pleasure.................79\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Beauty...................83\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Religion.................87\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'On',
 'Death....................90\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'The',
 'Farewell................92\n\n\n\n\nTHE']

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [29]:
# your code here
prophet[0:10]

['PROPHET\n\n|Almustafa,',
 'the{7}',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [30]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # your code here
    import re
    word_split = re.split('{',x)
    
    return word_split[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [31]:
# your code here
prophet_reference = list(map(reference,prophet))

In [32]:
prophet_reference[0:10]

['PROPHET\n\n|Almustafa,',
 'the',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [64]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # your code here
    import re
    word_break = re.split('\n',x)
    
    return word_break[0]

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [65]:
# your code here
prophet_line = list(map(line_break,prophet_reference))

In [66]:
prophet_line[0:10]

['PROPHET', 'the', 'chosen', 'and', 'the', 'who', 'was', 'a', 'dawn', 'unto']

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [ ]:
# your code here

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [ ]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here

In [39]:
word_list = ['and', 'the', 'a', 'an']
filter_words = list(filter(lambda x: x not in word_list, prophet_line))

In [41]:
filter_words[0:20]

['PROPHET',
 'chosen',
 'who',
 'was',
 'dawn',
 'unto',
 'his',
 'own',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'city',
 'Orphalese',
 'for',
 'his',
 'ship',
 'that',
 'was']

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [71]:
prophet_filter = list(filter(lambda x: x not in word_list, prophet_line))

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [ ]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here

In [46]:
word_list = ['and', 'the', 'a', 'an']
filter_words_2 = list(filter(lambda x: x.lower() not in word_list, prophet_line))

In [47]:
filter_words_2[0:20]

['PROPHET',
 'chosen',
 'who',
 'was',
 'dawn',
 'unto',
 'his',
 'own',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'city',
 'Orphalese',
 'for',
 'his',
 'ship',
 'that',
 'was']

In [48]:
len(filter_words_2)

11413

In [49]:
len(filter_words)

11433

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [75]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # your code here
    return a + ' ' + b
reduce(concat_space,prophet_filter)[0:100]

'PROPHET chosen who was dawn unto his own had waited twelve years in city Orphalese for his ship that'

In [ ]:
# Other way using lambda function
reduce(lambda a,b: a +' '+ b, prophet_filter)

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [77]:
# your code here
prophet_string = reduce(concat_space,prophet_filter)

In [74]:
prophet_string[0:100]

'PROPHET chosen who was dawn unto his own had waited twelve years in city Orphalese for his ship that'

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [79]:
# your code here
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv'
pollution_database = pd.read_csv(url)

In [85]:
pollution_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
No       43824 non-null int64
year     43824 non-null int64
month    43824 non-null int64
day      43824 non-null int64
hour     43824 non-null int64
pm2.5    41757 non-null float64
DEWP     43824 non-null int64
TEMP     43824 non-null float64
PRES     43824 non-null float64
cbwd     43824 non-null object
Iws      43824 non-null float64
Is       43824 non-null int64
Ir       43824 non-null int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

Let's look at the data using the `head()` function.

In [90]:
# your code here
pollution_database.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [91]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # your code here
    return x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [92]:
# your code here
pm25_hourly = pollution_database[['Iws','Is','Ir']]

In [93]:
pm25_hourly.apply(hourly)

             Iws        Is   Ir
0       0.074583  0.000000  0.0
1       0.205000  0.000000  0.0
2       0.279583  0.000000  0.0
3       0.410000  0.000000  0.0
4       0.540417  0.000000  0.0
5       0.670833  0.000000  0.0
6       0.801250  0.000000  0.0
7       0.875833  0.000000  0.0
8       1.006250  0.000000  0.0
9       1.136667  0.000000  0.0
10      1.304167  0.000000  0.0
11      1.434583  0.000000  0.0
12      1.565000  0.000000  0.0
13      1.695417  0.000000  0.0
14      1.825833  0.000000  0.0
15      0.037083  0.000000  0.0
16      0.074583  0.000000  0.0
17      0.111667  0.000000  0.0
18      0.074583  0.000000  0.0
19      0.074583  0.000000  0.0
20      0.037083  0.000000  0.0
21      0.074583  0.000000  0.0
22      0.111667  0.000000  0.0
23      0.037083  0.000000  0.0
24      0.074583  0.000000  0.0
25      0.111667  0.000000  0.0
26      0.148750  0.000000  0.0
27      0.223333  0.041667  0.0
28      0.260417  0.083333  0.0
29      0.297500  0.125000  0.0
...          ...       ...  ...
43794   0.149167  0.000000  0.0
43795   0.242083  0.000000  0.0
43796   0.540000  0.000000  0.0
43797   0.912500  0.000000  0.0
43798   1.322083  0.000000  0.0
43799   1.620000  0.000000  0.0
43800   2.160000  0.000000  0.0
43801   2.569583  0.000000  0.0
43802   2.942083  0.000000  0.0
43803   3.407917  0.000000  0.0
43804   3.947917  0.000000  0.0
43805   4.581250  0.000000  0.0
43806   5.419583  0.000000  0.0
43807   5.959583  0.000000  0.0
43808   6.257500  0.000000  0.0
43809   6.499583  0.000000  0.0
43810   6.797500  0.000000  0.0
43811   7.095417  0.000000  0.0
43812   7.393333  0.000000  0.0
43813   7.765833  0.000000  0.0
43814   8.175417  0.000000  0.0
43815   8.547917  0.000000  0.0
43816   8.920417  0.000000  0.0
43817   9.218333  0.000000  0.0
43818   9.423333  0.000000  0.0
43819   9.665417  0.000000  0.0
43820   9.907500  0.000000  0.0
43821  10.112500  0.000000  0.0
43822  10.280000  0.000000  0.0
43823  10.410417  0.000000  0.0

[43824 rows x 3 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [95]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # your code here
    return np.std(x) / x.count() -1